.signin-out{
    display: flex;
    flex-direction: row;
    padding: 3vw 5vw;
    justify-content: space-around;
}
@media only screen and (max-width: 450px) {
    .signin-out{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .form{
        margin:10vw auto;
    }
}
@media only screen and (max-width: 770px) {
    .signin-out{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .form{
        margin:8vw;
    }
}
